*{
    margin:0px ;
    font-family: Arial; 
   
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
  justify-content: space-evenly;  
}
.nav-logo{
    height: 50px;
    width: 100px;
   
}
.logo{
background-image: url(amazon_logo.png);
   height: 50px;
    width: 100%;  
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/* box2 */
.address1{
    color: #cccccc;
    font: size 0.5rem; 
    margin-left: 18px;
   
}
.address2{
    font-size: 1rem;
    margin-left: px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
   background-color: pink;
   width: 750px;
   height: 40px;
   border-radius: 5px;
}
.search-select{
  background-color: #f3f3f3;
  width:50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; 
  border: none;
}
.search-input{
    outline: none;
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
background-color: #febd68;
 border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; 
  color: #0f1111;
}
/* box 4 */
.nav-lang{
    display: flex;
    font-size: 1.5rem;
}
.lang-select{
    margin-left: 3px;
    background: none;
    color:white;
    border: none;
    font-size: 1rem;  
}
/* box 5 */
.hello{
    font-size: 0.5rem;
    margin-left: 5px;
    
}
.account{
    font-size: 1rem;
    border: none;
    color: white;
    background: none; 
}
/* box 6 */
.return{
     font-size: 0.5rem;
    margin-left: 2px;
}
.orders{
       font-size: 1rem;
    border: none;
    color: white;
    background: none; 
}
/* box 7 */
.cart-icon{
    display: flex;
    font-size: 2rem;
}
.cart{
    font-size: 1rem;
    margin-top: 15px;
}
/* panel */
.panel{
        height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    color: white;
   
}
/* p1 */
.list{
    display: flex;
    margin-left: 10px
    
}
.all{
    margin-left: 4px;
}
/* p2 */
.panel-ops p{
    display: inline;
    margin-left: 13px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
    margin-left: 20px;
}
/* p3 */
.panel-deals{
    font-size: 0.9;
    font-weight: 700;
    margin-left: 160px;
}
.hero-section{
    background-image: url(hero_image.jpg);
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 0.85rem;
   width: 95%;
   margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}
/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: #e3e7e6;
  
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height:300px;
    background-size:cover ;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
/* footer */
footer{
    margin-top: 12px;
}
.foot-p1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-p2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 50px;
}
ul a{
    display: block;
    margin-top: 15px;
    color: #dddddd;
}
.foot-p3{
    background-color: #222f3d;
     color: white;
     border-top: 0.5px solid white;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.logo{
background-image: url(amazon_logo.png);
   height: 50px;
    width: 100px;  
    background-size: cover;
}
.foot-p4{
        background-color: #0f1111;
     color: white;
     height: 76px;
     /* display: flex;
     justify-content: center;
     align-items: center; */
}
.pages{ 
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
    
   

}
.cor{
     font-size: 0.7rem;
     text-align: center;
     padding-top:5px;
}
.pages a{
    margin-left: 10px;
}